<form method="post" action="/houses/find_house">
  <label for="house-id-field">House ID: </label>
  <input type="number" name="id" id="house-id-field"/>


  <input type="submit" value="Search">
</form>
