<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Students @ Hogwarts</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/students/new">New Student</a></li>
      <li><a href="/students">All Students</a></li>
      <li><a href="/houses">All Houses</a></li>
      <li><a href="/houses/new_house">New House</a></li>
    </ul>
  </nav>
   <%= yield %>

</body>
</html>
