
<form method ="post" action="/houses/new_houses">


  <label for="house-name-field">House Name: </label>
  <input type="text" name="name" id="house-name-field"/>


  <input type="submit" value="Housed">



</form>
